{% extends "layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block title %}Home{% endblock title %}

{% block layout %}{% endblock layout %}

{% block content %}

{% if blogs|length == 0 %}
  <div class="text-center mt-5">
    <p>No blogs yet. Start your blogging journey!</p>
    <a href="{% url 'create_blog' %}" class="btn btn-primary">Create Your First Blog</a>
  </div>
{% else %}
  <div class="container-row d-flex gap-3 flex-wrap">
    {% for blog in blogs %}
    <div class="card" style="width: 18rem; max-height: 400px;"> 
      {% if blog.image %}
      <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="card-img-top" style="max-height: 150px; object-fit: cover;">
      {% endif %}
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ blog.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">By {{ blog.user }}</h6>
        <p class="card-text text-muted">{{ blog.created_at|date:"M j, Y" }}</p>
        <p class="card-subtitle">{{ blog.theme }}</p>
        <a href="{% url 'blog_detail_view' blog.id %}">Read More</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock content %}
